body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #d5e1ef;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 31rem;
  background-color: #ffffff;
  border-radius: 1.25rem;

  .card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem 1rem 2.5rem 1rem;

    .card-content--image {
      width: 18rem;
      height: 18rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 0.625rem;
      }
    }

    .card-content--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .card-content--text-title,
      .card-content--text-description {
        width: 16rem;
        font-family: "Outfit", sans-serif;
      }

      .card-content--text-title {
        font-size: 1.375rem;
        font-weight: bold;
        line-height: 120%;
        letter-spacing: 0px;
        color: #1f314f;
      }

      .card-content--text-description {
        margin-top: 1rem;

        font-size: 0.938rem;
        font-weight: normal;
        line-height: 140%;
        letter-spacing: 0.2px;
        color: #68778d;
      }
    }
  }
}
